/*
 *
 * STYLES
 *
 */
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                   supported by Chrome, Opera and Firefox */
}
.nowrap {
  white-space: nowrap;
  display: inline-block;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.x55 {
  transform: scale(0.55);
}
.x70 {
  transform: scale(0.7);
}
.x85 {
  transform: scale(0.85);
}
.x115 {
  transform: scale(1.15);
}
.x145 {
  transform: scale(1.45);
}

.greyscale {
  filter: grayscale(100%) brightness(1.2);
}

.hmiddle {
  text-align: center;
}

.vmiddle,
.valign {
  vertical-align: middle;
}

.alignright {
  text-align: right;
}

.opacity75 {
  opacity: 0.67;
}

.opacity50 {
  opacity: 0.5;
}

.nopointer {
  pointer-events: none;
}

.noborder {
  border-bottom: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.flexrow {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flexgrow {
  flex-grow: 1;
}

.floatright {
  float: right;
}

.columns {
  display: flex;
  width: 100%;

  .column {
    flex-grow: 1;
  }
}

.font-courier {
  font-family: "Courier New", courier, sans-serif;
}

.clickable {
  cursor: pointer;
}

.nn.semibold {
  font-weight: 500;
}

.nn.indent {
  padding-left: 0.8rem;
}

.underdashed {
  border-bottom: dashed 1px currentColor;
  line-height: 1;
}

.u {
  text-decoration: underline;
}

.block {
  display: block;
}

.center {
  text-align: center;
}

.link {
  //color: var(--color-link);
  cursor: pointer;
  text-decoration: underline;
}

.font-quicksand {
  font-family: Quicksand, system-ui, sans-serif;
}
