/*
  MINIMAL RESET - add more rules as needed
*/
body {
  margin: 0;
  padding: 0;
  font-family: system-ui, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑",
    Arial, "Open Sans", "AuroRegular", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  background: hsl(210, 100%, 100%);
}
//body {
//  overflow: hidden;
//}
//.container {
//  overflow: auto;
//}

//* {
//  user-select: none;
//}
//io,
//textarea,
//form,
//code,
//p {
//  user-select: all;
//}

b,
strong {
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul,
p {
  margin: 0.5rem 0;
}

fieldset {
  display: block;
}

li {
  margin: 1rem;
}

label {
  color: #999;
}

input {
  border-color: var(--color-input-border);
  color: var(--color-input-color);

  &::placeholder {
    color: black;
  }
}

sup,
sub {
  position: relative;
  font-size: 67%;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.25em;
}

a {
  //text-decoration: none;
}

hr {
  border: none;
  border-top: solid 1px #ccc;
}

h4 {
  font-weight: normal;
  margin: 0.5rem 0;
}

.pre {
  white-space: pre;
}

.grecaptcha-badge {
  display: none !important;
}

.eapps-form-header-text {
  z-index: 1000000;
  position: relative;
}

.eapps-widget-show-toolbar {
  display: none !important;
}
