/*
 * FONTAWESOME
 */
.fas {
  transform: scale(0.85);
}

/*
 * MY UI STYLES
 */
button.ui-round,
input.ui-round,
select.ui-round,
.ui-round input,
.ui-round button,
.ui-round select {
  /* different button sizes have different heights - so may need specific border-radius of 50% of height */
  border-radius: 50px; /* THIS SEEMS TOO EASY!! CHECK ALL BROWSERS! */
}

button.ui-minimal,
.ui-minimal button {
  background: none;
  border: none;
  box-shadow: none;

  &:first-child {
    padding-left: 0;
    margin-left: 0;
  }

  &:last-child {
    padding-right: 0;
    margin-right: 0;
  }
}

input.ui-minimal,
.ui-minimal input {
  border-radius: 0;
  box-shadow: none;
  border-width: 1px;
  top: -0.5rem;
  padding-top: 0;
  border-top: none;
  border-left: none;
  border-right: none;
  position: relative;
  background: none;
}

.ui-field-input-group {
  display: flex;

  > * {
    vertical-align: middle;
    border-width: 1px;

    input,
    select {
      height: 100%;
    }

    &:not(:last-child),
    &:not(:last-child) button,
    &:not(:last-child) input,
    &:not(:last-child) select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-right: initial;

      &:hover,
      &:focus {
        border-right: initial;
      }
    }

    &:not(:first-child),
    &:not(:first-child) button,
    &:not(:first-child) input,
    &:not(:first-child) select {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: initial;

      &:hover,
      &:focus {
        border-left: initial;
      }
    }
  }
}

.ui-form-fieldset-grid {
  > *,
  > .form-fieldset {
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin: 0.33rem 0 0.67rem;
    @media (max-width: 650px) {
      display: block;
    }
  }
}

.ui-form-fieldset {
  display: flex;

  .label {
    display: inline-flex;
    min-width: 150px;
    font-weight: bold;
  }

  .value {
    max-width: 600px;
    flex-grow: 1;
  }
}

.ui-form-section {
  position: relative;
  border-bottom: solid 1px var(--color-subtle-light);

  &:first-child {
    border-top: none;
  }

  &:last-child {
    border-bottom: none;
  }

  margin: 0 0 0.65rem 0;
  padding: 0.25rem 0 0.65rem 0;
}

input.mui {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: solid 1px var(--color-primary);
  width: 80%;

  &:focus,
  &:hover {
    outline: none;

    &::before {
      content: " ";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: var(--color-primary);
    }
  }
}

.mui-input {
  position: relative;
  font-size: 16px;
  display: inline-block;
  box-sizing: border-box;
  width: 100px;
  max-width: 100%;
  margin: 0;
  padding: 0px 0;

  input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    display: block;
    font-size: 16px;
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 4px 0 2px;
    width: 100%;
    background: 0 0;
    text-align: left;
    color: inherit;
  }

  input:focus {
    outline: none;
  }

  label {
    bottom: 0;
    color: rgba(0, 0, 0, 0.26);
    font-size: 16px;
    left: 0;
    right: 0;
    pointer-events: none;
    position: absolute;
    display: block;
    top: 4px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: left;
  }

  input:valid + label {
    visibility: hidden;
  }

  label:after {
    background-color: var(--color-primary);
    bottom: 0px;
    content: "";
    height: 2px;
    left: 45%;
    position: absolute;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    visibility: hidden;
    width: 10px;
  }

  input:focus + label:after {
    left: 0;
    visibility: visible;
    width: 100%;
  }
}
