/*
  Global variables, and
  COLORS/CLASSES below ⇩
*/

:root {
  --color-highlight-one: hsl(37, 100%, 60%);
  --color-highlight-two: hsl(75, 100%, 42%);

  /*
   * All other colors
   */
  --box-shadow-black: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
  --box-shadow-dark: 0 1px 1px rgba(100, 125, 130, 0.5);
  --box-shadow-light: 0 1px 1px rgba(150, 175, 180, 0.3);

  --color-primary: hsl(200, 75%, 50%); //#8c64cc; //
  --color-primary-dark: hsl(200, 55%, 45%);

  --color-link: hsl(197, 90%, 50%);
  --color-link-light: hsl(198, 75%, 55%);
  --color-link-dark: hsl(198, 75%, 49%);

  --color-accent-lighter: hsl(75, 85%, 45%);
  --color-accent-light: hsl(90, 96%, 40%);
  --color-accent: hsl(80, 80%, 38%);
  --color-accent-dark: hsl(85, 95%, 30%);
  --color-accent-darker: hsl(116, 90%, 30%);

  --color-attention-light: hsl(33, 90%, 52%); //hsl(43.33, 100%, 45%);
  --color-attention: hsl(32, 92%, 58%); //hsl(43.33, 100%, 45%);
  --color-attention-dark: hsl(35, 90%, 56%);
  --color-attention-darker: hsl(40, 90%, 45%);

  --color-subtle-light: hsl(202, 65%, 93%);
  --color-subtle: hsl(210, 50%, 88%);
  --color-subtle-transparent: hsla(202, 65%, 95%, 0.77);
  --color-subtle-dark: hsl(222, 55%, 80%);
  --color-subtle-warm: hsl(215, 90%, 90%);

  --color-bad-dark: hsl(360, 50%, 50%);
  --color-bad: hsl(0, 80%, 55%);
  --color-bad-light: hsl(360, 60%, 75%);

  --color-white: hsla(0, 0%, 100%, 0.95);
  --color-warmwhite: hsl(60, 5%, 99%);
  --color-coolwhite: hsl(210, 60%, 97%);
  --color-light: hsl(0, 0%, 67%);
  --color-medium: hsl(0, 0%, 33%);
  --color-dark: hsl(0, 0%, 15%);
  --color-black: hsl(0, 0%, 5%);

  --color-other: hsl(245, 50%, 65%);

  --color-input-border: #ccc;
  --color-input-placeholder: #ccc;
  --color-input-color: #333;

  --color-white-retina: rgb(251, 252, 253);
  --color-subtle-light-retina: rgb(220, 234, 245);
}

/*
 *
 * UI
 *
 */
button.color-bad {
  color: var(--color-bad);
  border-color: var(--color-bad);

  &:hover {
    color: var(--color-bad);
    border-color: var(--color-bad);
    opacity: 0.75;
  }

  &:focus {
    color: var(--color-bad);
    border-color: var(--color-bad);
    opacity: 0.5;
  }
}

.link,
a {
  color: var(--color-accent);
  text-decoration: underline;
  cursor: pointer;
}
.link:hover,
a:hover {
  color: var(--color-accent-dark);
  text-decoration: none;
}

/*
 *
 * COLORS
 *
 */
.color-subtle {
  color: var(--color-subtle);
}

.color-subtle-light {
  color: var(--color-subtle-light);
}
.color-subtle-transparent {
  color: var(--color-subtle-transparent);
}

.color-subtle-dark {
  color: var(--color-subtle-dark);
}

.color-primary-dark {
  color: var(--color-primary-dark);
}

.color-primary {
  color: var(--color-primary);
}

.color-accent {
  color: var(--color-accent);
}

.color-accent-dark {
  color: var(--color-accent-dark);
}

.color-attention {
  color: var(--color-attention);
}
.color-attention-dark {
  color: var(--color-attention-dark);
}

.color-subtle-light {
  color: var(--color-subtle-light);
}

.color-black {
  color: black;
}

.color-dark {
  color: var(--color-dark);
}

.color-medium {
  color: var(--color-medium);
}

.color-light {
  color: var(--color-light);
}

.color-accent {
  color: var(--color-accent);
}

.color-accent-darker {
  color: var(--color-accent-darker);
}

.color-bad {
  color: var(--color-bad);
}

.color-white {
  color: var(--color-white);
}

.color-link {
  color: var(--color-link);
}

.color-cloudy {
  color: hsl(80, 90%, 45%);
}

.color-highlight-primary {
  color: var(--color-highlight-one);
}
.color-highlight-secondary {
  color: var(--color-highlight-two);
}
